.heading {
  font-size: 32px;
  font-weight: 700;
}
.medium-text {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(20 / 14);
  color: #555;
}
.big-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(20 / 14);
}
.text12-white {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  line-height: calc(20 / 12);
}
.sobig-text {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(50 / 32);
}
.text500 {
  font-weight: 500;
  font-size: 28px;
  line-height: calc(50 / 28);
}
.text500-14 {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14);
}
.text800 {
  font-weight: 800;
  font-size: 14px;
  line-height: calc(20 / 14);
}
